PORT=5000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=postsales_iot

JWT_SECRET=replace_with_a_long_random_secret

# LINE Messaging API (ตั้งค่าจาก LINE Developers Console)
LINE_CHANNEL_SECRET=your_line_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
LINE_BOT_BASIC_ID=@your_line_basic_id
