POSTSALES_EDITION=customer_local
DEPLOYMENT_MODE=local_customer_domain
TUNNEL_PROVIDER=cloudflare

PORT={{SERVER_PORT}}

DB_HOST={{DB_HOST}}
DB_PORT={{DB_PORT}}
DB_USER={{DB_USER}}
DB_PASSWORD={{DB_PASSWORD}}
DB_NAME={{DB_NAME}}

JWT_SECRET={{JWT_SECRET}}

COMPANY_NAME={{COMPANY_NAME}}
SUPPORT_PHONE={{SUPPORT_PHONE}}
POSTSALES_ADMIN_USERNAME={{ADMIN_USERNAME}}
POSTSALES_ADMIN_PASSWORD={{ADMIN_PASSWORD}}
POSTSALES_ADMIN_FULL_NAME={{ADMIN_FULL_NAME}}
POSTSALES_ADMIN_PHONE={{ADMIN_PHONE}}

PUBLIC_APP_URL={{PUBLIC_APP_URL}}
CUSTOMER_DOMAIN_URL={{PUBLIC_APP_URL}}
PORTAL_DIST_DIR={{PORTAL_DIST_DIR}}
LINE_WEBHOOK_URL={{PUBLIC_APP_URL}}/linebot/webhook.php

LINE_CHANNEL_SECRET={{LINE_CUSTOMER_CHANNEL_SECRET}}
LINE_CHANNEL_ACCESS_TOKEN={{LINE_CUSTOMER_CHANNEL_ACCESS_TOKEN}}
LINE_BOT_BASIC_ID={{LINE_CUSTOMER_BASIC_ID}}

LINE_TECH_CHANNEL_ACCESS_TOKEN={{LINE_TEAM_CHANNEL_ACCESS_TOKEN}}
LINE_TECH_TARGET_ID={{LINE_TEAM_TARGET_ID}}

POSTSALES_LICENSE_KEY={{LICENSE_KEY}}
POSTSALES_LICENSE_SERVER_URL={{LICENSE_SERVER_URL}}
POSTSALES_LICENSE_STATUS=pending_activation
POSTSALES_LICENSE_PLAN={{LICENSE_PLAN}}
POSTSALES_LICENSE_EXPIRES_AT={{LICENSE_EXPIRES_AT}}
