PORT=5100

LICENSE_DB_HOST=127.0.0.1
LICENSE_DB_PORT=3306
LICENSE_DB_USER=root
LICENSE_DB_PASSWORD=
LICENSE_DB_NAME=postsales_license

LICENSE_ADMIN_TOKEN=replace_with_strong_admin_token
LICENSE_SIGNING_SECRET=replace_with_strong_license_secret
